$door-color: grey;
$door-open-color: rgb(255, 255, 255);
$elevator-here-color: #ccc;
$elevator-width: 75px;

@keyframes doorOpenClose {
  0%, 100% {
    background-color: $door-color;
  }
  50% {
    background-color: $door-open-color;
  }
}

.door {
  width: $elevator-width;
  height: 100px;
  background-color: $door-color;
  position: relative;
  border: 1px solid black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $door-color;
    transition: background-color 2s ease;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    border-left: 1px solid black;
  }
}

.door.open {
  &::before,
  &::after {
    animation: doorOpenClose 2s ease forwards;
  }

  &::after {
    border-left: 1px solid transparent;
  }
}

.door.elevator-here {
  width: $elevator-width;
  background-color: $elevator-here-color;
}