$door-color: grey;
$door-open-color: yellow;
$elevator-here-color: #ccc;
$elevator-width: 75px;

@keyframes doorOpen {
    0% {
      width: $elevator-width;
      background-color: $door-color;
    }
    100% {
      width: 0;
      background-color: $door-open-color;
    }
  }
  
  .door {
    width: $elevator-width;
    height: 100px;
    background-color: $door-color;
    transition: background-color 0.5s ease;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid black;
      transition: border 0.5s ease; // Add transition for the border
    }
  }
  
  .door.open {
    background-color: $door-open-color; // Change the color when the door is open
  
    &::after {
      border-left: 1px solid transparent; // Hide the black line when the door is open
    }
  }
  
  .door.elevator-here {
    width: $elevator-width;
    background-color: $elevator-here-color;
  }